{% extends "lates/base.htm" %}
{% block title %}404 - mealplanner{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<div class="row" id="page">
    <div class="col g12">
            <fieldset id="late-submit-user">
                <legend>Error 404</legend>
                <h1>Whoops!</h1>
                <h3>Something went wrong with the mealplanner application.  Sorry for the inconvenience.  The developers have been notified!</h3>
                {% endif %}

            </fieldset>
    </div>
</div>
{% endblock %}
