<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" media="screen" href="{{ media_url }}rg.css" />
    <link rel="stylesheet" media="screen" href="{{ media_url }}pika-lates.css" />
    <link rel="stylesheet" media="handheld" href="{{ media_url }}mealplanner-mobile.css" />
    {% block head %}{% endblock %}
</head>

<body>
{% block header %}
<div class="row" id="header">
    <div class="col g12">
    <a href="/"><h1>mealplanner</h1></a>
    </div>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<div class="row" id="footer">
    <div class="col g12">
    <p>This is a work in progress. Please report bugs and request features on <a href="http://github.com/cdawzrd/mealplanner/issues">the github page</a>.<br>
    This is {{ todays_weekdaystr }}, day {{ todays_weekday }} of the week
    </p>
    </div>
</div>
{% endblock %}
</body>
{% block javascript %}{% endblock %}
</html>
