{% extends "base.htm" %}
{% block title %}lates - mealplanner{% endblock %}

{% block head %}<meta http-equiv="Refresh" content="300">{% endblock %}

{% block javascript %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" /></script>
<script src="{{ media_url }}dashboard.js" type="text/javascript" /></script>{% endblock %}
{% block content %}
<div class="row" id="page">
    <div class="col g12">

            <fieldset id="late-dashboard">
                <legend>Lates for {{ todays_weekdaystr }}, {{ current_date|date:"F j, Y" }}</legend>

                {% for entry in todays_lates %}
                <div class="dashboard-entry {{ entry.dietstring }}">
                    <h3>{{ entry.name }}</h3>
                    <h4>{{ entry.dietstring }}{{ entry.restrictionstring }}</h4>
                    <div class="clear">&nbsp;</div>
                    {% if entry.message %}
                    <h5>{{ entry.message }}</h5>
                    {% endif %}
                    {% if entry.early %}
                    <h5>Only make this late if dinner will be served early</h5>
                    {% endif %}
                </div>
                {% empty %}
                <div class="dashboard-entry">
                <h3>No Lates Today</h3>
                <h4>Aren't you lucky!</h4>
                <div class="clear">&nbsp;</div>
                </div>
                {% endfor %}
                <div class="info">Please remember to check your email, just in case.</div>
            </fieldset>
            <fieldset id="late-dashboard-controls" class="nobackground">
                <div class="center">
                <form action="/lates/signup/" method="get"><input type="submit" id="btn-signup" value="Sign Up" /></form>
                <form action="/lates/dashboard/" method="get"><input type="submit" id="btn-dashboard" value="Dashboard Mode" /></form>
                </div>
            </fieldset>
    </div>
</div>
{% endblock %}
