{% extends "lates/base.htm" %}
{% block title %}pika-lates{% endblock %}

{% block javascript %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" /></script>
<script src="{{ media_url }}dashboard.js" type="text/javascript" /></script>{% endblock %}

{% block content %}
<div class="row" id="page">
    <div class="col g12">
        <form id="late-submit" method="post" action="/lates/signup/">
        {% if globalError %}
        <div class="info error">Error: {{ globalError }}</div>
        {% endif %}
            <fieldset id="late-submit-user">
                <legend>Dear pika cooks,</legend>
                {{ form.name.errors }}
                <label for="id_name">My first name is </label>
                {{ form.name }}
                {{ form.email.errors }}
                <label for="id_email">My email address is </label>
                {{ form.email }}
            </fieldset>
            <fieldset id="late-submit-type">
                <legend>I need a late for {{ todays_weekdaystr }} dinner...</legend>
                    {{ form.type.errors }}
                    {{ form.type }}
            </fieldset>
            <fieldset id="late-submit-schedule">
                <legend>This late is for... </legend>
                    {{ form.schedule.errors }}
                    {{ form.schedule }}
                    <div class="info"><strong>Note:</strong> You can cancel or modify a late at any time up to 7pm on the day of dinner.</div>
            </fieldset>
    </div>
</div>
<div class="row">
    <div class="col g6 left">
            <fieldset id="late-submit-diet">
                <legend>My diet is </legend>
                    {{ form.diet.errors }}
                    {{ form.diet }}
            </fieldset>
    </div><div class="col g6 right">
            <fieldset id="late-submit-diet2">
                <legend>I can't eat  </legend>
                    <label>{{ form.glutenfree }} Gluten</label>
                    <label>{{ form.nonuts }} Tree Nuts</label>
                    <label>{{ form.nopeanuts }} Peanuts</label>
            </fieldset>
    </div>
</div>
<div class="row">
    <div class="col g12">
            <fieldset class="nobackground">
                <div class="center">
                <input type="submit" value="Sign Up" /></div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
