
/* pika-lates.css
 * @revision 0.2
 * @author cdawzrd
 * @date 20100716
 *
 * Mobile Style for Mealplanner
 */

/* make the grid fluid */

.row { width: 98%; }
.g3 { width:25%; }
.g4 { width: 33%; }
.g12 { width:100%; }
.col { margin: 0; }


/* end grid changes */

body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 16px;
    background-color: #cadfff;
    color: #111;
    line-height: 1.625em;
}

#header {
    text-align: center;
}

#header h1 {
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 0.75em 0 0.375em 0;
    color: #262626;
    text-shadow: 1px 1px 4px rgba(0,0,0,.5);

}

#header h2 {
    display: none;
}

p {
    padding: 0.5em 2em 1em 2em;
}

pre {
    padding: 0.5em 2em 0.5em 2em;
    background-color: rgba(0,0,0,.1);
    margin: 0.25em 1em 1em;
}


fieldset {
    margin: 1.5em 5em;
    background: #B2C6E8;
    border: 1px solid #ddf;
    border-bottom: 1px solid #aaf;
    border-right: 1px solid #aaf;

}

.nobackground {
    background: none;
    border: 0;
}

.left fieldset {
    margin: 1.5em .5em 1.5em 5em;
}

.right fieldset  {
    margin: 1.5em 5em 1.5em .5em;
}

form { display: inline; }

legend {
    background: #8D9CB3;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 0.75em;
    padding: .5em 1em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    border: 1px solid #ddf;
    border-bottom: none;
    text-shadow: 1px 1px 3px #333;
}

input {
    font-size: 1em;
    margin: 0 0 1em 2em;
    height: 2em;
    padding: 0.25em;
    color: #000;
    box-shadow: 1px 1px 5px #555;
    -moz-box-shadow: 1px 1px 5px #555;
    -webkit-box-shadow: 1px 1px 5px #555;
}

input[type=text] {
    width: 60%;
}

#late-dashboard-controls input {
    width: 25%;
    margin: 1em;
}

#late-dashboard-controls.small {
    display: none;
}

.center {
    text-align: center;
}

label {
    display: block;
    margin-left: 2em;
    margin-top: 0.25em;
}

label>input {
    margin-left: 0em;
    vertical-align: baseline;
    position: relative;
    top: 1px;
    width: auto;
    height: auto;
}



input#special {
    width: 88%;
    margin: 1em 2em;
}

input[type=submit], input[type=button] {

    border: 1px solid #ccc;
    background-color: #ddd;
    border-radius: 10px;
    padding: 1em;
    height: 3em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 5px #555;
    -moz-box-shadow: 1px 1px 5px #555;
    -webkit-box-shadow: 1px 1px 5px #555;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(197,199,224)), color-stop(1, rgb(245,246,255)));
    background-image: -moz-linear-gradient(center bottom,rgb(197,199,224) 0%,rgb(245,246,255) 100%);
    text-shadow: 1px 1px 3px #888;
    outline: 0;
    border: 0;
}

input[type=submit]:active, input[type=button]:active {
    box-shadow:inset 1px 1px 5px #555;
    -moz-box-shadow:inset 1px 1px 5px #555;
    -webkit-box-shadow:inset 1px 1px 5px #555;
    outline: 0;
    border: 0;
}


.info {
    margin: 1em;
    font-size: 0.8em;
    border: 1px solid #8C866F;
    background-color: #E8E6B3;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
}

.info.error {
    background-color: #FAC1B1;
    padding: 0.25em 1em;
    margin: 1em 5em;
}

.dashboard-entry {
    background: rgba(255,250,245,.9);
    margin: 1em;
    padding: 0.5em;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.dashboard-entry:nth-of-type(odd) {
    background: rgba(255,250,245,.9);
}

.dashboard-entry h3 {
    float: left;
    font-size: 2.5em;
    padding: 10px 10px 15px;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.dashboard-entry h4 {
    float: right;
    font-size: 1.8em;
    font-weight: normal;
    padding: 12px 10px 10px;
}

.dashboard-entry h5 {
    font-weight: normal;
    background-color: E8E6B3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px 5px;
    text-align: center;

    margin: 0 auto;
}


/**** Begin dashboard mode styles ****/

.dashboard {
    margin-top: 1em;
}

.dashboard h3 {
    font-size: 3.5em;
    padding: 8px 8px 14px 24px;
    letter-spacing: 1px;
}

.dashboard h4 {
    font-size: 2.4em;
    letter-spacing: 1px;
    padding-right: 24px;
}

.dashboard .dashboard-entry {
    padding: 0.75em;
}

.dashboard .info {
    font-size: 1em;
    padding: 0.5em;
    margin: 2em 1em 1em;
}

.dashboard fieldset {
    margin: 0;
    border: 0;
    padding-top: 1em;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.dashboard .header {
    height: 60px;
    background: #8D9CB3;
    margin: 0;
    width: 33%;
    color: #fff;
}

.dashboard #meta-day {
    margin-left: 10px;
    text-align: left;
    border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
}

.dashboard #meta-date {
    width: 310px;
    text-align: center;
    padding-left: 10px;
}

.dashboard #meta-clock {
    text-align: right;
    width: 310px;
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
}

.dashboard .header h2 {
    font-size: 2.2em;
    font-weight: bold;
    padding: 0.5em;
    margin: 0.25em;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #666;
}

.dashboard .header p {
    padding: 16px 10px;
    font-size: 1.6em;
    letter-spacing: 2px;
}

.dashboard #meta-controls {
    background: #8D9CB3;
    padding: 0 0;
    text-align: center;
}


.dashboard #meta-controls li {
    display: inline;
}

.dashboard #meta-controls a {
    display: inline-block;

    background-color: #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 5px #555;
    -moz-box-shadow: 1px 1px 5px #555;
    -webkit-box-shadow: 1px 1px 5px #555;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(197,199,224)), color-stop(1, rgb(245,246,255)));
    background-image: -moz-linear-gradient(center bottom,rgb(197,199,224) 0%,rgb(245,246,255) 100%);

    font-size: 0.8em;
    letter-spacing: 1px;
    margin: 0 8px 8px;
    padding: 0 8px;
    color: #444;
    text-shadow: 1px 1px 2px #666;
    text-decoration: none;
}

.dashboard #meta-controls a:hover {
    cursor: pointer;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(197,199,224)), color-stop(1, rgb(245,246,255)));
    background-image: -moz-linear-gradient(center bottom,rgb(208,210,234) 0%,rgb(255,255,255) 100%);
}

.dashboard #meta-controls a:active {
    box-shadow:inset 1px 1px 5px #555;
    -moz-box-shadow:inset 1px 1px 5px #555;
    -webkit-box-shadow:inset 1px 1px 5px #555;
}


input[type=submit]:active, input[type=button]:active {
    box-shadow:inset 1px 1px 5px #555;
    -moz-box-shadow:inset 1px 1px 5px #555;
    -webkit-box-shadow:inset 1px 1px 5px #555;
    outline: 0;
    border: 0;
}

/**** End dashboard styles ****/


.Vegetarian { color: #049; }
.Vegan { color: #062; }
.Meat { color: #900; }


.errorlist {
    width: 16em;
    text-align: center;
    margin: 0 2.4em;
    background-color: #FAC1B1;
    font-size: 0.8em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 2px #888;
    -moz-box-shadow: 1px 1px 2px #888;
    -webkit-box-shadow: 1px 1px 2px #888;
}

#top-meta {
    float: right;
    margin-top: -85px;
}

#top-meta-clock {
    display: inline-block;
    background-color: #8D9CB3;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
    padding: 18px 18px 14px;
}


#footer {
    font-size: .8em;
    color: #262626;
    text-align: center;
    padding: 2em 0;
}

#footer a {
    color: #33f;
    font-weight: bold;
}
